{% extends 'base.html' %}

{% block content %}
  <h2>Your Entries</h2>
  {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}! <a href="{% url 'logout' %}">Logout</a></p>
    <p><a href="{% url 'add_entry' %}">Add Entry</a></p>
  {% endif %}
  <ul>
    {% for entry in entries %}
      <li>{{ entry.text }}</li>
      {% if entry.image_url %}
        <img src="{{ entry.image_url }}" alt="Uploaded Image" style="max-width: 240px; height: auto;">
      {% endif %}
      <a href="{% url 'delete_entry' entry.id %}">Delete</a>
    {% endfor %}
  </ul>
  <br>
{% endblock %}
